#contenedor {
    @include flex (row, flex-start, center, 1em);
    flex-wrap: wrap;
}

.product__card {
    border: solid 0.1em $principal;
    margin: 2em;

    &__img {
        max-height: 20em;
        max-width: auto;
        margin:0.5em;
    }
    &__text {
        @include flex (row, flex-start, center, 1em);
        margin:0.5em;
    }
    &__name {
        margin:0.5em;
        text-align: center;
    }
}
    

