#contenedor {
    @include flex (row, flex-start, center, 1em);
    flex-wrap: wrap;
}

.product__card {
    border: solid 0.1em $principal;
    margin: 2em;

    &__img {
        max-height: 20em;
        max-width: auto;
        margin:0.5em;
        align-content:center;
    }
    &__text {
        @include flex (row, center, center, 1em);
        margin:0.5em;
    }
    &__name {
        margin:0.5em;
        text-align: center;
    }
    &__origen {
        text-align: center;

    }
    &__buy {
        border: solid 0.1em !important
    }
}

#add__carrito {
    font-size: 2rem;
}

.product__unit {
        @include flex (row, flex-start, center, 1em);
    }

#precio__total {
    text-align: center;
}


