footer {
    background-color: $principal;
    .contact__me {
        @include flex (column, center, center, 1em);
        &__city {
            color: $secondary;
        }
        &__email {
            color: $secondary;
        }
    }
    .publi {
        text-align: end;
        color: $secondary;
    }

}