header {
    background-color: $principal;
}

nav {
    @include flex (column, center, center, 1em);
}

.header__logo {
    display: flex;
    margin-bottom: 5em;
    
}

a {
    text-decoration: none;
    color: $secondary;
    &:hover {
        color: rgb(155, 155, 154);
    }
}

.navbar {
    @include flex(row, space-between, center, 5em);
    list-style-type: none;
}

.navbar__down {
    @include flex (row, flex-end, center, 1em);
    margin-right: 3em;
}

#cantidades {
    color: $secondary;
}

.btn-primary {
    @include flex (row, center, center, 1em);
     --bs-btn-bg: $principal; 
     --bs-btn-border-color: $principal;
     --bs-btn-hover-bg: $principal;
     --bs-btn-hover-border-color: $principal;
}